@page "/listview"
<h3>ListView</h3>

<div class="card card-body">
    <ul class="list-group">
        @foreach (var department in Departments)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    @department.Name
                    <span class="oi oi-trash text-danger"></span>
                </div>
            </li>
        }
    </ul>
</div>

<div class="card card-body">
    <div class="list-group">
        @foreach (var department in Departments)
        {
            <button class="list-group-item text-left btncol">
                <span class="oi oi-bookmark"></span>@department.Name
            </button>
        }
    </div>
</div>

<div class="card card-body">
    <div class="list-group">
        @foreach (var department in Departments)
        {
            <a class="list-group-item">
                <div class="d-flex justify-content-between">
                    @department.Name
                    <span class="oi oi-trash text-danger"></span>
                </div>
            </a>
        }
    </div>
</div>

<div class="card card-body">
    <div class="list-group">
        @foreach (var department in Departments)
        { 
        <div class="list-group-item btncol">
            <span class="oi oi-bookmark"></span>@department.Name
        </div>
	    }
    </div>
</div>

<style>
    div{
        border: 1px solid red;
    }

    ul {
        border: 1px solid orange;
    }

    li {
        border: 1px solid green;
    }

    .btncol{
        border: 1px solid blue;
    }
</style>

@code {

}
